@tailwind base;
@tailwind components;
@tailwind utilities;

:where(html, body, #app) {
    @apply h-full;
}

.font-dcms {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

* {
    vertical-align: top;
}

[x-cloak] {
    display: none;
}
